<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRUITY</title>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>

    <div id="header">
      FRUITY
    </div>

    <div id="main-area">
      
      <div class="input-bar-container" id="bottom-bar">
        <form class="file-upload" enctype="multipart/form-data" id="image-form">
          <span id="file-upload-label" class="file-upload-label" style="display: none;">No file chosen</span>
          <label for="image-input" id="upload-button"><img src = "../static/assets/plus.png" alt="add-file" id="upload-icon"/></label>
          <input type="file" id="image-input" name="disease-image" accept="image/*">
        </form>

        <img id="fruit-img" style="width: 250px; height: 250px;">
      </div>

      <div id="output-area">
        <ul>
        </ul>
      </div>

      <div id="fact-container">
        <div id="fact-text"></div>
      </div>

      <button id="get-fact-btn">Get Fact</button>
      <button id="add-fact-btn">Add Fact</button>
      <button id="diagnose-button" type="submit" form="image-form" disabled>Recognise</button>
    </div>

    <div id="fact-input-container" style="position: absolute; display: none;">
      <input type="text" id="fact-input" placeholder="Enter a new fruit fact!">
      <button id="submit-fact-btn">Add</button>
    </div>

    <div id="footer">
      Vougioukakis Nikos 2024
      <br>
      Note: The model is in its early stages, trained on a limited dataset, and is designed for basic functionality.
    </div>

    <script defer>
      function adjustBodyPadding() {
          const bottomBarHeight = document.querySelector('#bottom-bar').offsetHeight;
          document.body.style.paddingBottom = bottomBarHeight + 'px';
      }

      // Adjust padding on load and resize
      window.addEventListener('load', adjustBodyPadding);
      window.addEventListener('resize', adjustBodyPadding);
    </script>
    <script src="/static/img-rec-app.js" defer></script>
</body>
</html>
